[submodule "klipper"]
	path = klipper
	url = git@github.com:tobbelobb/klipper.git
  ignore = untracked
[submodule "RRF/ReprapFirmware"]
	path = RRF/ReprapFirmware
	url = git@github.com:tobbelobb/ReprapFirmware
  ignore = untracked
[submodule "RRF/CANlib"]
	path = RRF/CANlib
	url = git@github.com:tobbelobb/CANlib.git
	branch = 3.7-dev
  ignore = untracked
[submodule "RRF/CoreN2G"]
	path = RRF/CoreN2G
	url = git@github.com:Duet3d/CoreN2G.git
	branch = 3.7-dev
  ignore = untracked
[submodule "RRF/FreeRTOS"]
	path = RRF/FreeRTOS
	url = git@github.com:Duet3d/FreeRTOS.git
	branch = 3.7-dev
  ignore = untracked
[submodule "RRF/RRFLibraries"]
	path = RRF/RRFLibraries
	url = git@github.com:tobbelobb/RRFLibraries.git
	branch = 3.7-dev
  ignore = untracked
[submodule "RRF/LibTinyusb"]
	path = RRF/LibTinyusb
	url = git@github.com:Duet3d/LibTinyusb.git
	branch = master
  ignore = untracked
[submodule "RRF/RepRapFirmware.wiki"]
	path = RRF/RepRapFirmware.wiki
	url = git@github.com:Duet3D/RepRapFirmware.wiki.git
  ignore = untracked
[submodule "RRF/DuetSoftwareFramework"]
	path = RRF/DuetSoftwareFramework
	url = git@github.com:Duet3D/DuetSoftwareFramework
	branch = v3.7-dev
  ignore = untracked
[submodule "RRF/DuetWebControl"]
	path = RRF/DuetWebControl
	url = git@github.com:Duet3D/DuetWebControl
	branch = v3.7-dev
  ignore = untracked
[submodule "RRF/Duet3Expansion"]
	path = RRF/Duet3Expansion
	url = git@github.com:Duet3D/Duet3Expansion
	branch = 3.7-dev
