# Cubecorners config for Klipper, the mcu part running as a Linux process

[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: winch
max_velocity: 300
max_accel: 3000
winch_mover_weight: 0.216
winch_spring_constant: 20000.0
winch_min_force: 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0
winch_max_force: 170.0, 170.0, 170.0, 170.0, 170.0, 170.0, 170.0, 170.0
winch_guy_wire_lengths: 117.2, 117.2, 117.2, 117.2, 117.2, 117.2, 117.2, 117.2
winch_mechanical_advantage: 1, 1, 1, 1, 1, 1, 1, 1
flex_compensation_algorithm: qp
ignore_gravity: false
ignore_pretension: false

[stepper_a]
step_pin: gpiochip1/gpio0
dir_pin: gpiochip1/gpio1
enable_pin: gpiochip1/gpio2
microsteps: 16
rotation_distance: 188.495559
m569_address: 40.0
anchor_x: 1284.9
anchor_y: -1284.9
anchor_z: 1900.0

[stepper_b]
step_pin: gpiochip1/gpio3
dir_pin: gpiochip1/gpio4
enable_pin: gpiochip1/gpio5
microsteps: 16
rotation_distance: 188.495559
m569_address: 41.0
anchor_x: 1284.9
anchor_y: 1284.9
anchor_z: 1900.0

[stepper_c]
step_pin: gpiochip1/gpio6
dir_pin: gpiochip1/gpio7
enable_pin: gpiochip1/gpio8
microsteps: 16
rotation_distance: 188.495559
m569_address: 42.0
anchor_x: -1284.9
anchor_y: 1284.9
anchor_z: 1900.0

[stepper_d]
step_pin: gpiochip1/gpio9
dir_pin: gpiochip1/gpio10
enable_pin: gpiochip1/gpio11
microsteps: 16
rotation_distance: 188.495559
m569_address: 43.0
anchor_x: -1284.9
anchor_y: -1284.9
anchor_z: 1900.0

[stepper_e]
step_pin: gpiochip1/gpio12
dir_pin: gpiochip1/gpio13
enable_pin: gpiochip1/gpio14
microsteps: 16
rotation_distance: 188.495559
m569_address: 44.0
anchor_x: 1284.9
anchor_y: -1284.9
anchor_z: -280.0

[stepper_f]
step_pin: gpiochip1/gpio15
dir_pin: gpiochip1/gpio16
enable_pin: gpiochip1/gpio17
microsteps: 16
rotation_distance: 188.495559
m569_address: 45.0
anchor_x: 1284.9
anchor_y: 1284.9
anchor_z: -280.0

[stepper_g]
step_pin: gpiochip1/gpio18
dir_pin: gpiochip1/gpio19
enable_pin: gpiochip1/gpio20
microsteps: 16
rotation_distance: 188.495559
m569_address: 46.0
anchor_x: -1284.9
anchor_y: 1284.9
anchor_z: -280.0

[stepper_h]
step_pin: gpiochip1/gpio21
dir_pin: gpiochip1/gpio22
enable_pin: gpiochip1/gpio23
microsteps: 16
rotation_distance: 188.495559
m569_address: 47.0
anchor_x: -1284.9
anchor_y: -1284.9
anchor_z: -280.0

[extruder]
step_pin: gpiochip1/gpio24
dir_pin: gpiochip1/gpio25
enable_pin: gpiochip1/gpio26
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
max_extrude_cross_section: 2.0
filament_diameter: 1.750
sensor_type: temperature_host
sensor_path: public/klipper/cubecorners/extruder.temp
heater_pin: gpiochip1/gpio27
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
min_extrude_temp: 0
max_temp: 275

[heater_bed]
sensor_type: temperature_host
sensor_path: public/klipper/cubecorners/bed.temp
heater_pin: gpiochip1/gpio29
control: watermark
min_temp: 0
max_temp: 130

[force_move]
enable_force_move: True

[hangprinter_m569]
