# Slideprinter config for Klipper simulavr (AVR atmega644p)
# - Most pins mapped to atmega644p (as in generic-simulavr.cfg)
# - Some pins chosen arbitrarily from atmega644p section of sample-aliases.cfg
# - Suitable for simulavr testing with extruder present

[mcu]
serial: /tmp/pseudoserial

[printer]
kinematics: winch
max_velocity: 300
max_accel: 3000

## Winch steppers (mapped to atmega644p pins)
[stepper_a]
step_pin: PA5 # Match generic-simulavr.cfg
dir_pin:  PA4
enable_pin: PA1
microsteps: 16
rotation_distance: 188.496
anchor_x: 0
anchor_y: -2100
anchor_z: 0

[stepper_b]
step_pin: PA3  # Match generic-simulavr.cfg
dir_pin:  PA2
enable_pin: PA1
microsteps: 16
rotation_distance: 188.496
anchor_x: 1776
anchor_y: 1025
anchor_z: 0

[stepper_c]
step_pin: PC7 # Match generic-simulavr.cfg
dir_pin:  PC6
enable_pin: PA1
microsteps: 16
rotation_distance: 188.496
anchor_x: -1776
anchor_y: 1025
anchor_z: 0

[stepper_d]
step_pin: PC1 # Just chosen something from atmega644p section of sample-aliases.cfg
dir_pin:  PC4
enable_pin: PA1
microsteps: 16
rotation_distance: 188.496
anchor_x: 0
anchor_y: 0
anchor_z: 2000


## Extruder (atmega644p-friendly pins; generic simulavr values)
[extruder]
step_pin: PC3  # Match generic-simulavr.cfg
dir_pin:  PC2
enable_pin: PA1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA7
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
min_extrude_temp: 0
max_temp: 275

## Bed heater (atmega644p-friendly pins)
[heater_bed]
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: watermark
min_temp: 0
max_temp: 130

[force_move]
enable_force_move: True
