# Slideprinter config for Klipper, the mcu part running as a Linux process
# - The fake pin chip must be created first by make-fake-gpio-sim.sh <point_to_this_file>
#   It makes sure to not collide with any real gpio pins on your system
#   It will replace REPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER with the number of the fake gpio chip

[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: winch
max_velocity: 300
max_accel: 3000

## Winch steppers (mapped to atmega644p pins)
[stepper_a]
step_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio0
dir_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio1
enable_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio2
microsteps: 16
rotation_distance: 188.496
anchor_x: 0
anchor_y: -2100
anchor_z: 0

[stepper_b]
step_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio3
dir_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio4
enable_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio5
microsteps: 16
rotation_distance: 188.496
anchor_x: 1776
anchor_y: 1025
anchor_z: 0

[stepper_c]
step_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio6
dir_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio7
enable_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio8
microsteps: 16
rotation_distance: 188.496
anchor_x: -1776
anchor_y: 1025
anchor_z: 0

[stepper_d]
step_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio9
dir_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio10
enable_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio11
microsteps: 16
rotation_distance: 188.496
anchor_x: 0
anchor_y: 0
anchor_z: 2000


## Extruder (atmega644p-friendly pins; generic simulavr values)
[extruder]
step_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio12
dir_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio13
enable_pin: gpiochipREPLACE_ME_WITH_FAKE_GPIO_CHIP_NUMBER/gpio14
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpiochipREPLACE_ME_WITH_FAKE_IIO_DEVICE_NAME/gpio15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpiochipREPLACE_ME_WITH_FAKE_IIO_DEVICE_NAME/gpio16
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
min_extrude_temp: 0
max_temp: 275

## Bed heater (atmega644p-friendly pins)
[heater_bed]
heater_pin: gpiochipREPLACE_ME_WITH_FAKE_IIO_DEVICE_NAME/gpio17
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpiochipREPLACE_ME_WITH_FAKE_IIO_DEVICE_NAME/gpio18
control: watermark
min_temp: 0
max_temp: 130

[force_move]
enable_force_move: True
