# Skycam config for Klipper, the mcu part running as a Linux process

[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: winch
max_velocity: 300
max_accel: 3000
winch_mover_weight: 0.108
winch_spring_constant: 20000.0
winch_min_force: 3.0, 3.0, 3.0, 3.0
winch_max_force: 170.0, 170.0, 170.0, 170.0
winch_guy_wire_lengths: 528.3, 528.3, 528.3, 398.9
winch_mechanical_advantage: 1, 1, 1, 1
flex_compensation_algorithm: qp
ignore_gravity: false
ignore_pretension: false

[stepper_a]
step_pin: gpiochip1/gpio0
dir_pin: gpiochip1/gpio1
enable_pin: gpiochip1/gpio2
microsteps: 16
rotation_distance: 188.495559
m569_address: 40.0
anchor_x: 1240.0
anchor_y: -1240.0
anchor_z: 2300.0

[stepper_b]
step_pin: gpiochip1/gpio3
dir_pin: gpiochip1/gpio4
enable_pin: gpiochip1/gpio5
microsteps: 16
rotation_distance: 188.495559
m569_address: 41.0
anchor_x: 1240.0
anchor_y: 1240.0
anchor_z: 2300.0

[stepper_c]
step_pin: gpiochip1/gpio6
dir_pin: gpiochip1/gpio7
enable_pin: gpiochip1/gpio8
microsteps: 16
rotation_distance: 188.495559
m569_address: 42.0
anchor_x: -1240.0
anchor_y: 1240.0
anchor_z: 2300.0

[stepper_d]
step_pin: gpiochip1/gpio9
dir_pin: gpiochip1/gpio10
enable_pin: gpiochip1/gpio11
microsteps: 16
rotation_distance: 188.495559
m569_address: 43.0
anchor_x: -1240.0
anchor_y: -1240.0
anchor_z: 2300.0

[extruder]
step_pin: gpiochip1/gpio12
dir_pin: gpiochip1/gpio13
enable_pin: gpiochip1/gpio14
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
max_extrude_cross_section: 2.0
filament_diameter: 1.750
sensor_type: temperature_host
sensor_path: public/klipper/skycam/extruder.temp
heater_pin: gpiochip1/gpio15
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
min_extrude_temp: 0
max_temp: 275

[heater_bed]
sensor_type: temperature_host
sensor_path: public/klipper/skycam/bed.temp
heater_pin: gpiochip1/gpio17
control: watermark
min_temp: 0
max_temp: 130

[force_move]
enable_force_move: True

[hangprinter_m569]
